{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
	{{!-- <header class="header">
		<button class="button">
			<img src="/svg/header__back.svg" width="24px" height="24px">
		</button>
		<button class="button">
			<img src="/img/header__avatar.png" width="24px" height="24px">
		</button>
	</header> --}}

	{{!-- <h1 class="title">Коммьюніті</h1> --}}

	{{!-- <div class="tabs">
		<button class="tab tab__text ">
			База знань
		</button>
		<button class="tab tab__text active">
			Інформація
		</button>
	</div> --}}

	{{!-- <main class="post__list">

		<div class="post__community post--viewed">

			<div class="post__header">
				<img src="/img/community.png" width="360px" height="140px">
			</div>


			<h1 class="title--2">Що таке база знань?</h1>


			<p class="post__info">База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте
				и знаниях в некоторой предметной области. В самообучающихся системах база знаний также содержит
				информацию, являющуюся результатом решения предыдущих задач.</p>

			<button class="button button__community">
				Перейти до коммьюніті у Телеграм
			</button>
		</div>
	</main> --}}
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}